<ul id="<%= @resource_vteam_allocation.id %>" class="list-row <%= cycle('odd', 'even') %>" >
  <li>
    
    <label>Reason :&nbsp;</label>
    <span class =""><%= @resource_vteam_allocation.reason %></span>
  </li>
</ul>