<% content_for :css do %>
  <%= stylesheet_link_tag "resource_vteam_allocation/new" %>
<% end %>
<h1>New Resource Vteam Allocations</h1>

<%= render 'form' %>

<%#= link_to 'Back', vteam_resource_vteam_allocations_path %>
