<h1><%="#{Atlantis::VERSION}"%></h1>
<ul>
  <li>- Dashboard ( with XDocs Listing ) </li>
  <li>- Leads, Opportunities, Vteams, Companies, Contacts, related models management through Admin Panel </li>
  <li>- Quick Search for XDocs, Leads, Vteams, Companies, Contacts, Opportunities  </li>
  <li>- Role Based Authorization </li>
  <li>- Association Filters for XDocs, Leads, Vteams, Companies, Contacts, Opportunities  </li>
  <li>- Date Filters for XDocs, Leads, Opportunities, Vteams </li>
  <li>- Alphabetical filter for Contacts and Companies </li>
  <li>- Thick and Thin View for Leads, Vteams, Opportunities </li>
  <li>- Toggle List of Related Actions for Leads, Opportunities, Vteams, Companies, Contacts Index Views</li>
  <li>- Pagination</li>
  <li>- Sticky Note for Contact</li>
  <li>- User Account Management</li>
  <li>- Password Recovery</li>
  <li>- Autocomplete Selection for Associated Model Attributes</li>
  <li>- Datepicker for Date fields</li>
  <li>- Contact Company History</li>
  <li>- Timezone Management</li>
</ul>