/*
  dark black; #111111;

*/

/* Global ----------------------------- */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FEFEFE; /*    font-size: 12px;*/
}

#loader {
    display: block;
    position: absolute;
    left: 45%;
    top: 45%;
    width: 100px;
    height: 100px;
    background-image: url("../images/ajax-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #FFF;
    opacity: 0.6;
}

html, body {
    height: 100%;
    overflow: 20px;
}

#ui-dialog-title-new_company_dialog, #ui-dialog-title-new_contact_dialog {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
}

.fix {
    font-family: inherit !important;
    font-size: 12px !important;
}

/* Header ----------------------------------------------- */
/*body > section > header {
    width: 100%;
    height: 70px;
    display: block;
    padding-top: 5px;
    background-image: url('../images/header_back.jpg');
    background-position: top left;
    background-repeat: repeat-x;
}*/
body > section > header {
    background-image: url("../images/header_back.jpg");
    background-position: left top;
    background-repeat: repeat-x;
    display: block;
    height: 48px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

#menu-grey {
/*    border-bottom: #AAAAAA solid 1px;*/
    display: block;
    height: 45px;
    width: 100%;
}

#logo {
    width: 115px;
    display: inline-block;
    float: left;
    height: 100%;
    background-image: url("../images/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
}

#logo:hover {
    background-image: url("../images/logo_active.png")
}

#app-status {
    display: block;
    float: right;
    margin-right: 10px;
    max-width: 700px;
    text-align: right;
    color: #777;
}

#app-status a {
    color: #555;
}

/* Body -------------------------------------------- */

section.main {
    width: 1000px;
    min-height: 500px;
    display: inline-block;
}

aside#left-bar {
    width: 180px; /*    overflow-x: hidden;*/
    margin: 10px;
    float: left;
    display: inline-block;
    margin-top: 60px;
}

section.main > article {
    display: inline-block;
    border-left: #AAAAAA solid 1px;
    padding: 0 10px;
    min-width: 760px;
    width: 760px;
    min-height: 500px;
    float: left;
    margin-top: 60px;
}

section.main > article > header {
    display: inline-block;
    width: 100%;
}

/* Footer ----------------------------------------- */
section.container > footer {
    border-top: #AAAAAA solid 1px;
    margin-top: 25px;
    padding-bottom: 18px;
    position: relative;
    width: 100%;
    padding-top: 10px;
    display: block;
    text-align: center;
}

a.plus {
    background: none;
    background-image: none;
    border: none;
}

#details > a:hover {
    text-decoration: none;
}