/* 
    Document   : new
    Created on : Feb 8, 2011, 8:18:12 PM
    Author     : Syed Raza Khalid
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.simple_form input.button {
/*    background-image: url("/images/button_back.jpg");*/
    display: inline-block;
/*    background-repeat: repeat-x;*/
/*    opacity: 0.8;*/
    background-color: #d4d4d4;
    padding: 0px 10px;
    height: 25px;

/*    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/

    border: #AAA solid 1px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.simple_form input.button:hover{
    background-color: #E5E5E5;
    opacity: 1;
    text-decoration: none;
    color: #005CB8;
}
.simple_form select{
    height: 20px;
    padding: 0px;
    width: 160px;
}

.simple_form input{
    height: 14px;
    width: 155px;
}
/*.loopable-options {
    max-width:100%;
    width: 100%;
}*/
.actions input{
    width: 100px;
}
header h1{
    margin-bottom: 25px;
}
#addressInfo, #generalInfo{
    
    width: 980px;
}
