/* 
    Document   : edit
    Created on : Jan 25, 2011, 4:31:55 PM
    Author     : Syed Raza Khalid
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.hint{
    margin-left: 127px;
}

