/* 
    Document   : new
    Created on : Feb 14, 2011, 4:11:01 PM
    Author     : Syed Raza Khalid
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */

}
.simple_form input.button {
/*    background-image: url("/images/button_back.jpg");*/
    display: inline-block;
/*    background-repeat: repeat-x;*/
/*    opacity: 0.8;*/
    background-color: #d4d4d4;
    padding: 0px 10px;
    height: 25px;

/*    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/

    border: #AAA solid 1px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.simple_form select{
    height: 20px;
    padding: 0px;
    width: 161px;
}
.simple_form input.button:hover{
    background-color: #E5E5E5;
    opacity: 1;
    text-decoration: none;
    color: #005CB8;
}
.simple_form input{
    height: 16px;
    width: 155px;
}
.ui-autocomplete-input{
    width: 180px;
}
.actions input {
    width: 100px;
}
textarea.text {
    width: 84%;
}
.active-scaffold table thead {
    background-color: #F2F2F2;
}
.active-scaffold {
    margin: 5px 0;
    width: 100%;
}
.active-scaffold tr.record td {
    border-color: -moz-use-text-color -moz-use-text-color #AAAAAA;
    border-style: none none dotted;
    border-width: medium medium 1px;
}
.active-scaffold tr.record td {
    border-bottom: 1px solid #C5DBF7;
    border-left: 1px solid #C5DBF7;
    color: #333333;
    font-family: Verdana,sans-serif;
    font-size: 11px;
    padding: 5px 4px;
}
.active-scaffold th.sorted, .active-scaffold th {
    background-color: inherit;
    font-weight: bold;
    height: 20px;
    letter-spacing: 0.1em;
    line-height: 20px;
    margin-right: 5px;
    word-spacing: 0.1em;
}
span.active-scaffold-records{
    font-weight: bold;
}
.pagination{
    display: block;
    float: right;
}
.error{
    background-color: #AABBCC;
    display: inline;
    height: 20px;
    left: 497px;
    position: absolute;
    top: 172.6px;
    visibility: visible;
}