/* root element for accordion. decorated with rounded borders and gradient background image */
aside#left-bar{
    margin-right:0;
    padding-right:0;
}
#accordion {
    
}

/* accordion header */
#accordion h2 {
	margin:0;
	cursor:pointer;
    font-size:0.9em;
    padding:5px;
    border-bottom: #AAA dotted 1px;
}

/* currently active header */
#accordion h2.current {
	cursor:default;
    font-size:1em;
    padding-bottom:0;
    border-bottom: none;
}

/* accordion pane */
#accordion .pane {
	display: none;
    padding-left:15px;
    padding-bottom:15px;
    border-bottom: #AAA dotted 1px;
}
